<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Actualizar Contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="floating">Nombre:</ion-label>
    <ion-input [(ngModel)]="txt_nombre" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Apellido:</ion-label>
    <ion-input [(ngModel)]="txt_apellido" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Telefono:</ion-label>
    <ion-input [(ngModel)]="txt_telefono" type="text"></ion-input>
    </ion-item>
  <ion-item>
    <ion-label position="floating">Correo:</ion-label>
    <ion-input [(ngModel)]="txt_correo" type="E-mail"></ion-input>
  </ion-item>
  <ion-item>
    <ion-button color="success" (click)="guardar();" title="Guardar">
      <ion-icon slot="icon-only" name="save-outline" size="large"></ion-icon>
    </ion-button>
    
    <ion-button color="danger" (click)="cancelar();" title="Cancelar">
      <ion-icon slot="icon-only" name="close-circle-outline" size="large"></ion-icon>
    </ion-button>
    
  </ion-item>
</ion-content>
