.header-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
  }
  
  .icono-proyecto {
    font-size: 2rem; /* Tamaño del ícono */
    margin-right: 10px; /* Espacio entre ícono y texto */
    color: #08a30f; /* Color azul (puedes cambiarlo) */
  }