.green-background {
    --background: #4caf50; /* Fondo verde */
    --color: #ffffff; /* Color del texto (opcional) */
  }

  .black-background {
    --background: #000900; /* Fondo verde */
    --color: #ffffff; /* Color del texto (opcional) */
  }