<ion-header [translucent]="true">
  <ion-toolbar class="green-background">
    <ion-title>TASK CONTROL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="display: flex; justify-content: center; gap: 20px; margin-top: 20px;">
    <!-- Botón Agregar -->
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button color="success" (click)="crearTarea()" title="Añadir Tarea">
        <ion-icon name="add-circle"></ion-icon>
        </ion-fab-button>
    </ion-fab>

  </div>
  <!-- Lista -->
  <ion-header>
      <ion-toolbar class="black-background">
        <ion-title>TUS TAREAS:</ion-title>
      </ion-toolbar>
  </ion-header>

  <ion-list>
    
    <!-- Iterar en los tareas  guardadas -->
    <ion-item *ngFor="let tarea of tareas; let i=index" (click)="editarTarea(i)">
      <ion-label text-wrap>
        <h2>{{tarea.titulo}}</h2>
        <p>{{tarea.descripcion}}</p>
        <p>
          <strong>Estado: </strong> <span style="background-color: yellow;">{{tarea.estado}}</span>
        </p>
      </ion-label>
      <ion-buttons slot="end">
        <!-- Botón de eliminar -->
        <ion-button color="danger" (click)="eliminarTarea(i)">
          <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

</ion-content>