.opciones{
  font-family: 'monospace';
  font-size: 15px;
  text-align: center;
  color: #0033ec;
}

.titulo
{
  font-family: 'arial';
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #972f0c;
  margin-top: 10px;
}

.etiqueta
{
  font-family: 'arial';
  font-weight: 'bold';
  font-size: 15px;
  text-align: center;
  color: #0b3ad5;
  margin-top: 10px;
}