<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo">DigiContacts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>

    <ion-item>
      <img src="assets/imgs/agendas.png" style="display:block; width:50%; height:auto; margin: auto;">
    </ion-item>

    <ion-item>
      <ion-label class="etiqueta">Tu agenda de contactos virtual</ion-label>
    </ion-item>

    <ion-card color="light">
      <ion-card-header>
        <ion-card-title class="etiqueta">Inicio de Sesión</ion-card-title>
        <ion-card-subtitle>Ingrese sus datos:</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-input label="Cédula: " type="text" [(ngModel)]="txt_usuario"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Clave: " type="password" [(ngModel)]="txt_clave"></ion-input>
        </ion-item>

        <ion-item lines="none" class="ion-text-center">
          <ion-button (click)="login()" size="small" color="success" id="show_loading">
            Iniciar Sesión
          </ion-button>
          <ion-button (click)="crearCuenta()" size="small" color="warning">
            Crear cuenta
          </ion-button>
          <ion-button (click)="restablecerClave()" size="small" color="primary">
            Cambiar Clave
          </ion-button>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
